{% extends 'layouts/base.html' %}

{% block title %} Agregar Área {% endblock title %}

{% block content %}
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h1 class="text-white">Agregar Área</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <!-- Card body -->
          <div class="card-body">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div id="alert-container" class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                  <script>
                    // Remover el mensaje después de 6 segundos
                    setTimeout(function() {
                      document.getElementById('alert-container').remove();
                    }, 6000);
                  </script>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <form action="{{ url_for('areas.agregar_area') }}" method="POST">
              <div class="form-group">
                <label for="area_nombre">Nombre del Área:</label>
                <input type="text" class="form-control" id="area_nombre" name="area_nombre" required>
              </div>
              <div class="form-group">
                <label for="area_sta">Status del Área:</label>
                <select class="form-control" id="area_sta" name="area_sta">
                  <option value="A">Activada</option>
                  <option value="O">Desactivada</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Agregar Área</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
