{% extends 'layouts/base.html' %}

{% block title %} Lista de Áreas {% endblock title %}

{% block content %}
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h1 class="text-white">Lista de Áreas</h1>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{{ url_for('areas.agregar_area') }}" class="btn btn-sm btn-neutral">Agregar Área</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class="col-lg-10" >
        <div class="card">
          <!-- Card header -->
          <div class="card-header bg-transparent">
            <div class="row justify-content-center text-center">
                <div class="col">
                    <h3 class="mb-0">Nombre de Áreas</h3>
                </div>
                <div class="col">
                    <span class="text-muted">Estatus</span>
                </div>
                <div class="col ml-6">
                    <span class="text-muted">Acciones</span>
                </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <ul class="list-group">
              {% for area in areas %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div style="width: 200px;"> 
                        <span>{{ area.area_nombre }}</span>
                    </div>
                    <div style="width: 100px;"> <!-- Ancho fijo para la columna del estado -->
                        <span class="text-muted">{{ area.area_sta }}</span>
                    </div>
                    <div class="btn-group" role="group" aria-label="Acciones">
                        <!--<a href="{{ url_for('areas.detalle_area', area_id=area.area_id) }}" class="btn btn-sm btn-primary mr-2">Detalle</a> -->
                        <a href="{{ url_for('areas.editar_area', area_id=area.area_id) }}" class="btn btn-sm btn-info mr-2">Modificar</a>
                        <a href="{{ url_for('areas.eliminar_area', area_id=area.area_id) }}" class="btn btn-sm btn-danger delete-btn" data-confirm="¿Está seguro que desea eliminar el área '{{ area.area_nombre }}'?">Eliminar</a>
                    </div>
                </li>
              {% endfor %}
            </ul>
            <!-- Pagination -->
            {% if total_paginas > 1 %}
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                {% for pagina in range(1, total_paginas + 1) %}
                <li class="page-item {% if pagina == pagina_actual %}active{% endif %}">
                  <a class="page-link" href="{{ url_for('areas.index', pagina=pagina) }}">{{ pagina }}</a>
                </li>
                {% endfor %}
              </ul>
            </nav>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de confirmación -->
  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="delete-message"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <a id="confirm-delete" href="#" class="btn btn-primary">Sí</a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascripts %}
<script>
  document.querySelectorAll('.delete-btn').forEach(btn => {
    btn.addEventListener('click', function(e) {
      e.preventDefault();
      const confirmMessage = this.getAttribute('data-confirm');
      document.getElementById('delete-message').textContent = confirmMessage;
      const confirmDeleteModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
      const confirmDeleteBtn = document.getElementById('confirm-delete');
      confirmDeleteBtn.href = this.href;
      confirmDeleteModal.show();
    });
  });
</script>
{% endblock javascripts %}
