{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger" role="alert">
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endwith %}
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{{url_for('recepcion.registrarMuestra')}}" class="btn btn-sm btn-neutral">Nueva Muestra</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Muestras Recibidas Analistas</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light text-center">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Recepción</th>
                  <th scope="col" class="sort" data-sort="budget">Folio</th>
                  <th scope="col" class="sort" data-sort="status">Nombre</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody class="list">
                {%for muestra in muestras%}
                <tr scope="row">                  
                  <td scope="col" class="text-center">
                        <span class="name mb-0 text-sm">{{muestra.mues_alta_fec}}</span>
                  </td>
                  <td scope="col" class="text-center">
                    <span class="name mb-0 text-sm">{{muestra.mues_folio}}</span>
                  </td>
                  <td scope="col" class="text-center">                   
                    <span class="name mb-0 text-sm">{{muestra.mues_nombre}} {{muestra.mues_apellido_paterno}} {{muestra.mues_apellido_materno}}</span>
                  </td>
                  <td class="text-center">
                    {% if muestra.mues_sta == 'O' %}
                        <span class="name mb-0 text-sm">Open</span>
                    {% elif muestra.mues_sta == 'F' %}
                        <span class="name mb-0 text-sm">Finish</span>
                    {% endif %}
                </td>
                  
                  <td class="text-center">
                    <div class="btn-group" role="group" aria-label="Acciones">
                        <a href="{{ url_for('home.detalle_muestra', mues_id=muestra.mues_id) }}" class="btn btn-sm btn-primary mr-2">Ver detalles</a>
                        <a href="{{ url_for('resultados.agregar_resultados', mues_id=muestra.mues_id) }}" class="btn btn-sm btn-info mr-2">Agregar Resultado</a>
                      </div>
                </td>
                </tr>
                {%endfor%}                
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script type="module">
  import { io } from "https://cdn.socket.io/4.7.4/socket.io.esm.min.js";

  const socket = io();

  socket.on('notification_update', updateTable);

  function updateTable() {
    $.ajax({
      url: '{{ url_for("home.getMuestras") }}',
      type: 'GET',
      success: function(data){
            console.log('data: ');
            console.log(data);
            var tableContent = '';
            $.each(data, function(i, muestra) {
                tableContent += '<tr scope="row">';
                tableContent += '<td class="text-center"><span class="name mb-0 text-sm">' + muestra.mues_alta_fec + '</span></td>';
                tableContent += '<td class="text-center"><span class="name mb-0 text-sm">' + muestra.mues_folio + '</span></td>';
                tableContent += '<td class="text-center"><span class="name mb-0 text-sm">' + muestra.mues_nombre + ' ' + muestra.mues_apellido_paterno + ' ' + muestra.mues_apellido_materno + '</span></td>';
                tableContent += '<td class="text-center"><span class="name mb-0 text-sm">' + (muestra.mues_sta == 'O' ? 'Open' : 'Finish') + '</span></td>';
                tableContent += '<td class="text-center"><div class="btn-group" role="group" aria-label="Acciones"><a href="' + muestra.url_detalle + '" class="btn btn-sm btn-primary mr-2">Ver detalles</a><a href="' + muestra.url_resultados + '" class="btn btn-sm btn-info mr-2">Agregar Resultado</a></div></td>';
                tableContent += '</tr>';
            });
            $('.table .list').html(tableContent);
        },
      error: function(xhr, status, error){
        console.error(error);
      }
    });
  }
</script>
{% endblock javascripts %}
