# Ignora archivos de configuración del sistema
.env
.venv
*.env
*.venv

# Ignora archivos generados por Python
__pycache__/*
*.pyc
__pycache__
analisis/__pycache__
analisis/models/__pycache__

# Ignora archivos de base de datos
db.sqlite3

# Ignora archivos de log
logs/*

# Ignora archivos de cobertura de código
.coverage

# Ignora archivos temporales
tmp/*

# Ignora archivos de caché
cache/*

# Ignora archivos de minificación
static/minified/*

# Ignora archivos de desarrollo
.idea/*