{% extends 'layouts/base.html' %}

{% block title %} Agregar Grupos {% endblock title %}

{% block content %}
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h1 class="text-white">Agregar Grupos</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <!-- Card body -->
          <div class="card-body">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                  <script>
                    // Remover el mensaje después de 6 segundos
                    setTimeout(function() {
                      document.querySelector('.alert').remove();
                    }, 6000);
                  </script>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <form action="{{ url_for('grupos.agregar') }}" method="POST">
              <div class="form-group">
                <label for="grupo_nombre">Nombre del Grupo:</label>
                <input type="text" class="form-control" id="grupo_nombre" name="grupo_nombre" required>
              </div>
              <div class="form-group">
                <label for="grupo_costo">Costo del Grupo:</label>
                <input type="text" class="form-control" id="grupo_costo" name="grupo_costo" required>
              </div>
              <div class="form-group">
                <label for="grupo_sta">Status del Grupo:</label>
                <select class="form-control" id="grupo_sta" name="grupo_sta" required>
                  <option value="A">Activado</option>
                  <option value="O">Desactivado</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Agregar Grupo</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
