<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Elementos en el lado izquierdo -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link pr-3 text-left" href="{{ session.get('ruta_anterior', '/') }}" role="button"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-arrow-left text-white"></i>
          </a>
        </li>
        <li class="nav-item">
          {% if g.user.user_area_id_fk == 6 or g.user.user_area_id_fk == 7 %}
          <a class="nav-link pr-3" href="/recepcion">
            <i class="fas fa-home text-white"></i>
          </a>
          {% else %}
          <a class="nav-link pr-3" href="/home">
            <i class="fas fa-home text-white"></i>
          </a>
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link pr-3" href="{{ url_for('auth.logout') }}">
            <i class="fas fa-sign-out-alt text-white"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="notification-icon" class="nav-link pr-3" href="#" role="button" data-toggle="modal"
            data-target="#notificationModal">
            <i class="fas fa-bell text-white"></i>
            <span id="notification-count" class="badge badge-light"></span>
          </a>
        </li>
      </ul>
      <!-- Elemento en el lado derecho -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="/static/assets/img/logo.jpg">
              </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm font-weight-bold text-white">
                  {{ g.user.user_username }} ({{ g.area_nombre }})
                </span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal de Notificaciones -->
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel"
  aria-hidden="true">
  <style>
    #notificationModal {
      top: 0;
      margin-top: 2rem;
    }
  </style>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content" style="padding-bottom: 0;">
      <div class="modal-header text-white">
        <h5 class="modal-title" id="notificationModalLabel">Notificaciones</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Lista de Notificaciones -->
        <ul class="list-group">
          {% for result in results %}
          <li class="list-group-item">id: {{ result.resul_id }} analisis: {{ result.ana_nombre}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
<script type="module">
  import { io } from "https://cdn.socket.io/4.7.4/socket.io.esm.min.js";

  const socket = io();
  // Función para manejar la actualización de notificaciones
  function updateNotifications(data) {
    $('#notificationModal .modal-body').html(data.html_content);
    $('#notification-count').text(data.count);
  }

  function notificacionesLeidas() {
    console.log('notificacionesLeidas');
    $('#notification-count').text(0);
  }

  socket.on('notification_update', updateData);

  // Maneja el evento de mostrar el modal
  const notificationIcon = document.getElementById("notification-icon");
  notificationIcon.addEventListener("click", function () {
    notificacionesLeidas();
  });
  function updateData() {
    $.ajax({
      url: '{{ url_for("auth.get_user_results_ajax") }}',
      type: 'GET',
      success: function (data) {
        updateNotifications(data);
      },
      error: function (xhr, status, error) {
        console.error(error);
      }
    });
  }
  $(document).ready(updateData);
</script>
{% endblock javascripts %}