{% extends 'layouts/base.html' %}

{% block title %} Agregar Resultado {% endblock title %}

{% block content %}

<!-- Card header -->
<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h1 class="text-white">Agregar Resultado</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card">
        <!-- Card body -->
        <!-- Card header -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
        <script>
          // Remover el mensaje después de 6 segundos
          setTimeout(function () {
            document.querySelector('.alert').remove();
          }, 3000);
        </script>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card-body">
          <form action="{{ url_for('resultados.agregar_resultados', mues_id=muestra.mues_id) }}" method="POST">
            <div class="form-group">
              <div id="mediciones_info">
                <!-- Aquí se mostrará la información de mediciones_analisis -->
              </div>
            </div>
            <div class="form-group">
              <label for="resul_ana_id">Análisis:</label>
              <select class="form-control" id="resul_ana_id" name="resul_ana_id">
                {% for analisis in lista_de_analisis %}
                <option value="{{ analisis.ana_id }}">{{ analisis.ana_nombre }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label for="resul_mues_id">Muestra:</label>
              <select class="form-control" id="resul_mues_id" name="resul_mues_id" disabled>
                <option value="{{ muestra.mues_id }}" selected>{{ muestra.mues_folio }}</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Agregar Resultado</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
  var selectAnalisis = document.getElementById('resul_ana_id');
  function generarHtml() {
    var analisisId = selectAnalisis.value;
    var medicionesPorAnalisis = JSON.parse('{{ mediciones_por_analisis | safe }}');
    var mediciones = medicionesPorAnalisis[analisisId];
    var divMedicionesInfo = document.getElementById('mediciones_info');

    divMedicionesInfo.innerHTML = '';
    for (var i = 0; i < mediciones.length; i++) {
      var medicion = mediciones[i];
      divMedicionesInfo.innerHTML += `
      <div class="form-group">
        <label for="resul_resultado_${medicion.mediciones_analisis_id}">${medicion.mediciones_analisis_componente}:</label>
        <div class="row">
          <div class="col-sm-9">
            <input type="text" class="form-control" id="resul_resultado_${medicion.mediciones_analisis_id}" name="resul_resultado_${medicion.mediciones_analisis_id}">
          </div>
          <div class="col-sm-3">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="resul_fuera_de_rango_${medicion.mediciones_analisis_id}" name="resul_fuera_de_rango_${medicion.mediciones_analisis_id}" value="true">
              <label class="form-check-label" for="resul_fuera_de_rango_${medicion.mediciones_analisis_id}">Fuera de rango</label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="mediciones_analisis_${medicion.mediciones_analisis_id}">Unidad: ${medicion.mediciones_analisis_unidad}</label>
      </div>
      <div class="form-group">
        <label for="mediciones_analisis_${medicion.mediciones_analisis_id}">Rango: ${medicion.mediciones_analisis_rango}</label>
      </div>
    `;
    }
  }

  selectAnalisis.addEventListener('change', function () {
    generarHtml();
  });

  $(document).ready(function () {
    generarHtml();
  });
</script>

{% endblock javascripts %}