{% extends 'layouts/base.html' %}

{% block title %} Detalles del Resultado {% endblock title %}

{% block content %}
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h1 class="text-white">Detalles del Resultado</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card {% if resultado.resul_fuera_de_rango %}border border-danger border-2{% else %}border border-success border-2{% endif %}">
          <!-- Card body -->
          <div class="card-body">
            <h4 class="card-title mb-4">Detalles del Resultado</h4>
            <div class="row">
              <div class="col-md-6">
                <p><strong>Fecha del Resultado:</strong> {{ resultado.resul_fecha }}</p>
                <p><strong>Componente:</strong> {{ resultado.resul_componente }}</p>
                <p><strong>Unidad:</strong> {{ resultado.resul_unidad }}</p>
              </div>
              <div class="col-md-6">
                <p><strong>Resultado:</strong> {{ resultado.resul_resultado }}</p>
                <p><strong>Rango:</strong> {{ resultado.resul_rango }}</p>
                <p><strong>Fuera de Rango:</strong> {{ resultado.resul_fuera_de_rango }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <label for="resul_ana_id">Análisis:</label>
                <select class="form-control" id="resul_ana_id" name="resul_ana_id" disabled>
                  {% for analisis in lista_de_analisis %}
                    <option value="{{ analisis.ana_id }}" {% if analisis.ana_id == resultado.resul_ana_id %} selected {% endif %}>{{ analisis.ana_nombre }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6">
                <label for="resul_mues_id">Muestra:</label>
                <select class="form-control" id="resul_mues_id" name="resul_mues_id" disabled>
                  {% for muestra in muestras %}
                    <option value="{{ muestra.mues_id }}" {% if muestra.mues_id == resultado.resul_mues_id %} selected {% endif %}>{{ muestra.mues_folio }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
