<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Resultados</title>
</head>
<body>
    <h1>Lista de Resultados</h1>
    <ul>
        {% for resultado in resultados %}
            <li>{{ resultado.resul_fecha }} - {{ resultado.resul_componente }}</li>
            <a href="{{ url_for('resultados.editar_resultados', resul_id=resultado.resul_id) }}">Editar</a> |
            <a href="{{ url_for('resultados.eliminar_resultados', resul_id=resultado.resul_id) }}">Eliminar</a> |
            <a href="{{ url_for('resultados.detalle_resultados', resul_id=resultado.resul_id) }}">Detalle</a>
        {% endfor %}
    </ul>
    <a href="{{ url_for('resultados.agregar_resultados') }}">Agregar Resultado</a>
</body>
</html>
