{% extends 'layouts/base.html' %}

{% block title %} Lista de Resultados {% endblock title %}

{% block content %}
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h1 class="text-white">Lista de Resultados</h1>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{{ url_for('resultados.agregar_resultados') }}" class="btn btn-sm btn-neutral">Agregar Resultado</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="card">
          <!-- Card body -->
          <div class="card-body">
            <ul class="list-group list-group-flush">
              {% for resultado in resultados %}
                <li class="list-group-item">
                  {{ resultado.resul_fecha }} - {{ resultado.resul_componente }}
                  <div class="float-right">
                    <a href="{{ url_for('resultados.editar_resultados', resul_id=resultado.resul_id) }}" class="btn btn-sm btn-info">Editar</a>
                    <a href="{{ url_for('resultados.detalle_resultados', resul_id=resultado.resul_id) }}" class="btn btn-sm btn-primary">Detalle</a>
                    <a href="{{ url_for('resultados.eliminar_resultados', resul_id=resultado.resul_id) }}" class="btn btn-sm btn-danger">Eliminar</a>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
