{% extends 'layouts/base.html' %}

{% block title %} Agregar Análisis {% endblock title %}

{% block content %}
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h1 class="text-white">Agregar Análisis</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class="col-lg-6" >
        <div class="card">
          <!-- Card body -->
          <div class="card-body">
            <form action="{{ url_for('analisis.agregar_analisis') }}" method="POST">
              <div class="form-group">
                <label for="ana_nombre">Nombre del Análisis:</label>
                <input type="text" class="form-control" id="ana_nombre" name="ana_nombre">
              </div>
              <div class="form-group">
                <label for="ana_costo">Costo del Análisis:</label>
                <input type="text" class="form-control" id="ana_costo" name="ana_costo">
              </div>
              <div class="form-group">
                <label for="ana_area_id_fk">Seleccionar área del análisis:</label>
                <select class="form-control" id="ana_area_id_fk" name="ana_area_id_fk">
                  {% for area in areas %}
                    <option value="{{ area.area_id }}">{{ area.area_nombre }}</option>
                  {% endfor %}
                </select>                
              </div>
              
              <div class="form-group">
                <label for="ana_sta">Status del Análisis:</label>
                <select class="form-control" id="ana_sta" name="ana_sta">
                  <option value="A">Activo</option>
                  <option value="O">Offline</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Agregar Análisis</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
