{% extends 'layouts/base.html' %}

{% block title %} Detalles del Análisis {% endblock title %}

{% block content %}
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h1 class="text-white">Detalles del Análisis</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <!-- Card body -->
          <div class="card-body">
            <h2>Detalles del Análisis</h2>
            <p><strong>Nombre del Análisis:</strong> {{ analisis.ana_nombre }}</p>
            <p><strong>Nombre del Análisis:</strong> {{ analisis.ana_costo }}</p>
            <p><strong>Status del Análisis:</strong> {{ analisis.ana_sta }}</p>
            <a href="{{ url_for('analisis.index') }}" class="btn btn-primary">Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
