{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-danger" role="alert">
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

<div class="header pb-6 d-flex align-items-center" >
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Registro de muestra</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="POST" action="{{url_for('recepcion.registrarMuestra')}}" id="registroMuestraForm">
            <h6 class="heading-small text-muted mb-4">Información de la muestra</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="folio">Folio</label>
                    <input type="text" id="folio" name="folio" class="form-control" placeholder="Folio" required  value="{{ folio_generado }}" readonly>
                    <input type="hidden" id="folio_hidden" name="folio_hidden" value="{{ folio_generado }}">
                    <div class="invalid-feedback">Por favor ingresa un folio válido.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="Nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required pattern="[A-Za-zÁÉÍÓÚÑáéíóúñ\s]+"  value="{{ form.nombre }}">
                    <div class="invalid-feedback">Por favor ingresa un nombre válido (solo letras).</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="apellido_paterno">Apellido Paterno</label>
                    <input type="text" id="apellido_paterno" name="apellido_paterno" class="form-control" placeholder="Apellido Paterno" required pattern="[A-Za-zÁÉÍÓÚÑáéíóúñ\s]+"  value="{{ form.apellido_paterno }}">
                        <div class="invalid-feedback">Por favor ingresa un apellido paterno válido (solo letras).</div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="apellido_materno">Apellido Materno</label>
                    <input type="text" id="apellido_materno" name="apellido_materno" class="form-control" placeholder="Apellido Materno" required pattern="[A-Za-zÁÉÍÓÚÑáéíóúñ\s]+"  value="{{ form.apellido_materno }}">
                        <div class="invalid-feedback">Por favor ingresa un apellido materno válido (solo letras).</div>
                  </div>
                </div>
              </div>
              <div class="row">
                
                <div class="col-lg-6">
                  <div class="form-group">
                      <label class="form-control-label" for="edad">Edad</label>
                      <input type="number" id="edad" name="edad" class="form-control" placeholder="Edad" readonly value="{{ form.edad }}" min="0" max="118">
                      <input type="hidden" id="edad_hidden" name="edad_hidden" value="{{ form.edad }}">
                      <div class="invalid-feedback">Por favor ingresa una edad válida (solo números).</div>
                      <div id="edad_alert" class="alert alert-danger d-none" role="alert">
                          Ingresa datos validos
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="form-group">
                      <label class="form-control-label" for="fecha_nacimiento">Fecha de Nacimiento</label>
                      <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="form-control" placeholder="Fecha de Nacimiento" required value="{{ form.fecha_nacimiento }}" min="1904-01-01">
                      <div class="invalid-feedback">Por favor ingresa una fecha de nacimiento válida.</div>
                      <div id="fecha_alert" class="alert alert-danger d-none" role="alert">
                          La fecha de nacimiento es incorrecta.
                      </div>
                  </div>
              </div>
              </div>              
              <div class="row">                
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="calle">Calle</label>
                    <input type="text" id="calle" name="calle" class="form-control" placeholder="Calle" required value="{{ form.calle }}">
                    <div class="invalid-feedback">Por favor ingresa una calle válida.</div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <label class="form-control-label" for="num_ext">Número Exterior</label>
                    <input type="text" id="num_ext" name="num_ext" class="form-control" placeholder="# Exterior" required value="{{ form.num_ext }}">
                    <div class="invalid-feedback">Por favor ingresa un número exterior válido.</div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <label class="form-control-label" for="num_int">Número Interior</label>
                    <input type="text" id="num_int" name="num_int" class="form-control" placeholder="# Interior" value="{{ form.num_int }}">
                  </div>
                </div>
                </div>
              </div>
              <div class="row" >
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="colonia">Colonia</label>
                    <input type="text" id="colonia" name="colonia" class="form-control" placeholder="Colonia" required value="{{ form.colonia }}">
                        <div class="invalid-feedback">Por favor ingresa una colonia válida.</div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="tel">Teléfono</label>
                    <input type="tel" id="tel" name="tel" class="form-control" placeholder="Teléfono" required pattern="[0-9]{10}" value="{{ form.tel }}">
                        <div class="invalid-feedback">Por favor ingresa un número de teléfono válido.</div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="email">E-mail</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" value="{{ form.email }}">
                        <div class="invalid-feedback">Por favor ingresa un correo electrónico válido.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="descuento">Descuento</label>
                    <select class="form-control" id="descuento" name="descuento" value="{{ form.descuento }}">
                      {% for descuento in descuentos%}
                        <option value="{{descuento.des_id}}"> {{descuento.des_nombre}} - {{descuento.des_descuento}}%</option>
                      {%endfor%}
                    </select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="horas_ayuno">Horas de ayuno</label>
                    <input type="number" id="horas_ayuno" name="horas_ayuno" class="form-control" placeholder="Horas de ayuno" value="{{ form.horas_ayuno }}" min="0" max="50">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="hora_recolecion">Horas de recolección</label>
                    <input type="time" id="hora_recoleccion" name="hora_recoleccion" class="form-control" placeholder="Hora de recoleccion" readonly value="{{ form.hora_recoleccion }}">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <div class="pl-lg-4 mr-4">
              <div class="form-group">
                <label class="form-control-label">Alimentos consumidos durante la última comida</label><br>

                <input type="checkbox" id="ninguno_alimentos">
                <label for="ninguno_alimentos" style="font-size: 0.3rem;">Ninguno</label>

                <textarea rows="3" class="form-control" name="alimentos" id="alimentos" placeholder="Alimentos consumidos durante la última comida">{{ form.alimentos }}</textarea>
                <input type="hidden" id="alimentos_hidden" name="alimentos_hidden" value="{{ form.alimentos }}">
              </div>
              <div class="form-group">
                <label class="form-control-label">Enfermedades</label><br>

                <input type="checkbox" id="ninguno_enfermedades">
                <label for="ninguno_enfermedades" style="font-size: 0.3rem;">Ninguno</label>

                <textarea rows="3" class="form-control" name="enfermedades" id="enfermedades" placeholder="Enfermedades">{{ form.enfermedades }}</textarea>
                <input type="hidden" id="enfermedades_hidden" name="enfermedades_hidden" value="{{ form.enfermedades }}">
              </div>
              <div class="form-group">
                <label class="form-control-label">Medicamentos</label><br>

                <input type="checkbox" id="ninguno_medicamentos">
                <label for="ninguno_medicamentos" style="font-size: 0.3rem;">Ninguno</label>

                <textarea rows="3" class="form-control" name="medicamentos" id="medicamentos" placeholder="Medicamentos">{{ form.medicamentos }}</textarea>
                <input type="hidden" id="medicamentos_hidden" name="medicamentos_hidden" value="{{ form.medicamentos }}">
              </div>
             </div>

            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group mr-4" id="paraquejale2">
                    <label class="form-control-label" for="grupo_analisis">Grupos de Análisis</label>
                    <select class="form-control select optional select-tags select2-hidden-accessible" multiple="multiple" name="grupo_analisis[]" id="grupo_analisis" tabindex="-1" aria-hidden="true" required value="{{ form.grupo_analisis }}">
                      {% for grupo in grupos %}
                      <option value="{{ grupo.grupo_id }}">{{ grupo.grupo_nombre }}    -   ${{ grupo.grupo_costo }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group mr-4" id="paraquejale">
                    <label class="form-control-label" for="analisis">Análisis</label>
                    <select class="form-control select optional select-tags select2-hidden-accessible" multiple="multiple" name="analisis[]" id="analisis" tabindex="-1" aria-hidden="true" value="{{ form.analisis }}">
                      {% for analisis_item in analisis %}
                      <option value="{{ analisis_item.ana_id }}">{{ analisis_item.ana_nombre }} - ${{ analisis_item.ana_costo }}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">Por favor selecciona al menos un análisis.</div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <input type="submit" class="btn btn-primary my-4" value="Registrar Muestra">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>
{% endblock content %}

{% block javascripts %}
<script>
$(document).ready(function() {
  $('#analisis').select2({dropdownParent: $('#paraquejale')});
  $('#grupo_analisis').select2({dropdownParent: $('#paraquejale2')});

  // Verificar la fecha de nacimiento y calcular la edad al cambiar
  $('#fecha_nacimiento').change(function() {
    var fechaNacimiento = new Date($(this).val());
    var hoy = new Date();
    
    // Calcular la edad
    var edad = hoy.getFullYear() - fechaNacimiento.getFullYear();
    var mes = hoy.getMonth() - fechaNacimiento.getMonth();
    if (mes < 0 || (mes === 0 && hoy.getDate() < fechaNacimiento.getDate())) {
        edad--;
    }
  
    $('#edad_hidden').val(edad);
    $('#edad').val(edad);
    
    var fechaActual = hoy.toISOString().split('T')[0];
    $(this).attr('max', fechaActual);

    // Mostrar alerta si la edad no está en el rango deseado
    if (edad < 0 || edad > 118) {
      $('#edad_alert').removeClass('d-none');
    } else {
      $('#edad_alert').addClass('d-none');
    }
  });

  // Obtener la hora actual en formato HH:MM
  var now = new Date();
  var hours = ('0' + now.getHours()).slice(-2);
  var minutes = ('0' + now.getMinutes()).slice(-2);
  var currentTime = hours + ':' + minutes;

  // Establecer la hora actual en el campo hora_recoleccion y hacerlo de solo lectura
  $('#hora_recoleccion').val(currentTime).prop('readonly', true);

  // Validación personalizada para el campo de teléfono
  $('#registroMuestraForm').submit(function(event) {
    var telefono = $('#tel').val();
    if (telefono.length !== 10 || isNaN(telefono)) {
      event.preventDefault(); // Evita que el formulario se envíe si la validación falla
      $('#tel').addClass('is-invalid'); // Marca el campo como inválido
    }
  });

  // Validación personalizada para verificar que al menos uno de los campos 'grupo_analisis' o 'analisis' tenga opciones seleccionadas
  $('#registroMuestraForm').submit(function(event) {
    var gruposSeleccionados = $('#grupo_analisis').val();
    var analisisSeleccionados = $('#analisis').val();

    if (!gruposSeleccionados && !analisisSeleccionados) {
      event.preventDefault(); // Evita que el formulario se envíe si la validación falla
      alert("Debes seleccionar al menos un grupo de análisis o un análisis.");
    }
  });

  // Agregar y quitar el atributo required de los select dependiendo de la selección del usuario
  $('#analisis').change(function() {
    if ($(this).val() !== null && $(this).val().length > 0) {
      // Si se selecciona al menos un análisis, quitamos el atributo required del campo grupo_analisis
      $('#grupo_analisis').removeAttr('required');
    } else {
      // Si no se selecciona ningún análisis, agregamos el atributo required al campo grupo_analisis
      $('#grupo_analisis').attr('required', 'required');
    }
  });

  $('#grupo_analisis').change(function() {
    if ($(this).val() !== null && $(this).val().length > 0) {
      // Si se selecciona al menos un grupo, quitamos el atributo required del campo analisis
      $('#analisis').removeAttr('required');
    } else {
      // Si no se selecciona ningún grupo, agregamos el atributo required al campo analisis
      $('#analisis').attr('required', 'required');
    }
  });

  // Función para deshabilitar los campos de texto cuando se selecciona 'Ninguno' y establecer su valor como 'Ninguno'
  function toggleTextfield(elementId, checkboxId) {
    $('#' + checkboxId).change(function() {
      if ($(this).prop('checked')) {
        $('#' + elementId).attr('disabled', 'disabled').val('Ninguno');
      } else {
        $('#' + elementId).removeAttr('disabled').val('');
      }
    });
  }

  // Llamar a la función para cada checkbox
  toggleTextfield('alimentos', 'ninguno_alimentos');
  toggleTextfield('enfermedades', 'ninguno_enfermedades');
  toggleTextfield('medicamentos', 'ninguno_medicamentos');

  // Enviar 'Ninguno' como valor si se selecciona el checkbox correspondiente antes de enviar el formulario
  $('#registroMuestraForm').submit(function() {
    if ($('#ninguno_alimentos').prop('checked')) {
      $('#alimentos').val('Ninguno');
      $('#alimentos_hidden').val('Ninguno');
    }
    if ($('#ninguno_enfermedades').prop('checked')) {
      $('#enfermedades').val('Ninguna');
      $('#enfermedades_hidden').val('Ninguna');
    }
    if ($('#ninguno_medicamentos').prop('checked')) {
      $('#medicamentos').val('Ninguno');
      $('#medicamentos_hidden').val('Ninguno');
    }
  });
});
</script>
{% endblock javascripts %}
