{% extends 'layouts/base.html' %}

{% block title %} Lista de Grupos {% endblock title %}

{% block content %}
<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h1 class="text-white">Lista de Mediciones</h1>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="{{ url_for('mediciones.agregar') }}" class="btn btn-sm btn-neutral">Agregar medición</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card">
        <!-- Card body -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">ID análisis</th>
                  <th class="text-center">Componente</th>
                  <th class="text-center">Unidad</th>
                  <th class="text-center">Rango</th>
                  <th class="text-center">Acción</th>
                </tr>
              </thead>
              <tbody>
                {% for medicion in mediciones %}
                <tr>
                  <td class="text-center">{{ medicion.nombre_analisis }}</td>
                  <td class="text-center">{{ medicion.mediciones_analisis_componente }}</td>
                  <td class="text-center">{{ medicion.mediciones_analisis_unidad }}</td>
                  <td class="text-center">{{ medicion.mediciones_analisis_rango }}</td>
                  <td class="text-center">
                    <div class="btn-group" role="group" aria-label="Acciones">
                      <a href="{{ url_for('mediciones.editar', mediciones_analisis_id=medicion.mediciones_analisis_id) }}" class="btn btn-sm btn-info mr-2">Modificar</a>
                      <a href="{{ url_for('mediciones.eliminar', mediciones_analisis_id=medicion.mediciones_analisis_id) }}" class="btn btn-sm btn-danger delete-btn" data-confirm="¿Está seguro que desea eliminar la medición '{{ medicion.mediciones_analisis_id }}'?">Eliminar</a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
{% if total_paginas > 1 %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% for pagina in range(1, total_paginas + 1) %}
    <li class="page-item {% if pagina == pagina_actual %}active{% endif %}">
      <a class="page-link" href="{{ url_for('medicion.index', pagina=pagina) }}">{{ pagina }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="delete-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a id="confirm-delete" href="#" class="btn btn-primary">Sí</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
  document.querySelectorAll('.delete-btn').forEach(btn => {
    btn.addEventListener('click', function (e) {
      e.preventDefault();
      const confirmMessage = this.getAttribute('data-confirm');
      document.getElementById('delete-message').textContent = confirmMessage;
      const confirmDeleteModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
      const confirmDeleteBtn = document.getElementById('confirm-delete');
      confirmDeleteBtn.href = this.href;
      confirmDeleteModal.show();
    });
  });
</script>
{% endblock javascripts %}
