{% extends 'layouts/base.html' %}

{% block title %} Lista de Grupos {% endblock title %}

{% block content %}
<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h1 class="text-white">Lista de Mediciones</h1>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="{{ url_for('mediciones.agregar') }}" class="btn btn-sm btn-neutral">Agregar medición</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card">
        <!-- Card header -->
        <div class="card-header bg-transparent">
          <div class="row justify-content-center text-center">
            <div class="col">
              <h3 class="mb-0">ID</h3>
            </div>
            <div class="col-3 ml-7">
              <h3 class="mb-0">ID analisis</h3>
            </div>
            <div class="col-2 mr-2">
              <span class="text-muted">Componente</span>
            </div>
            <div class="col">
              <span class="text-muted">Unidad</span>
            </div>
            <div class="col">
              <span class="text-muted">Rango</span>
            </div>
            <div class="col">
              <span class="text-muted">Acción</span>
            </div>
          </div>
        </div>
        <!-- Card body -->
        <div class="card-body">
          <ul class="list-group">
            {% for medicion in mediciones %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div style="width: 300px;">
                <span>{{ medicion.mediciones_analisis_id }}</span>
              </div>
              <div style="width: 100px;">
                <span>{{ medicion.mediciones_analisis_ana_id_fk }}</span>
              </div>
              <div style="width: 50px;">
                <span class>{{ medicion.mediciones_analisis_componente }}</span>
              </div>
              <div style="width: 50px;">
                <span class>{{ medicion.mediciones_analisis_unidad }}</span>
              </div>
              <div style="width: 50px;">
                <span class>{{ medicion.mediciones_analisis_rango }}</span>
              </div>
              <div class="btn-group" role="group" aria-label="Acciones">
                <a href="{{ url_for('mediciones.editar', mediciones_analisis_id=medicion.mediciones_analisis_id) }}"
                  class="btn btn-sm btn-info mr-2">Modificar</a>
                <a href="{{ url_for('mediciones.eliminar', mediciones_analisis_id=medicion.mediciones_analisis_id) }}"
                  class="btn btn-sm btn-danger delete-btn"
                  data-confirm="¿Está seguro que desea eliminar la medición '{{ medicion.mediciones_analisis_id }}'?">Eliminar</a>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
{% if total_paginas > 1 %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% for pagina in range(1, total_paginas + 1) %}
    <li class="page-item {% if pagina == pagina_actual %}active{% endif %}">
      <a class="page-link" href="{{ url_for('medicion.index', pagina=pagina) }}">{{ pagina }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}


<!-- Modal de confirmación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="delete-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a id="confirm-delete" href="#" class="btn btn-primary">Sí</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
  document.querySelectorAll('.delete-btn').forEach(btn => {
    btn.addEventListener('click', function (e) {
      e.preventDefault();
      const confirmMessage = this.getAttribute('data-confirm');
      document.getElementById('delete-message').textContent = confirmMessage;
      const confirmDeleteModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
      const confirmDeleteBtn = document.getElementById('confirm-delete');
      confirmDeleteBtn.href = this.href;
      confirmDeleteModal.show();
    });
  });
</script>
{% endblock javascripts %}