{% extends 'layouts/base.html' %}

{% block title %} Editar Muestra {% endblock title %}

{% block content %}
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h1 class="text-white">Modificar Muestra</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="card">
          <!-- Card body -->
          <div class="card-body">
            <form id="registroMuestraForm" action="{{ url_for('recepcion.editar_muestra', mues_id=recepcion.mues_id) }}" method="POST">
              
              <h2>Datos del paciente</h2>
              <div class="form-group">
                <label for="mues_folio">Folio:</label>
                <input disabled type="text" class="form-control" id="mues_folio" name="mues_folio" value="{{ recepcion.mues_folio }}" required>
              </div>
              <div class="form-group">
                <label for="mues_nombre">Nombre:</label>
                <input type="text" class="form-control" id="mues_nombre" name="mues_nombre" required pattern="[A-Za-zÁÉÍÓÚÑáéíóúñ\s]+" value="{{ recepcion.mues_nombre }}" required>
              </div>
              <div class="form-group">
                <label for="mues_apellido_paterno">Apellido paterno:</label>
                <input type="text" class="form-control" id="mues_apellido_paterno" name="mues_apellido_paterno" required pattern="[A-Za-zÁÉÍÓÚÑáéíóúñ\s]+" value="{{ recepcion.mues_apellido_paterno }}" required>
              </div>
              <div class="form-group">
                <label for="mues_apellido_materno">Apellido materno:</label>
                <input type="text" class="form-control" id="mues_apellido_materno" name="mues_apellido_materno" required pattern="[A-Za-zÁÉÍÓÚÑáéíóúñ\s]+" value="{{ recepcion.mues_apellido_materno }}" required>
              </div>
              <div class="form-group">
                <label for="mues_fec_nac">Fecha de Nacimiento:</label>
                <input type="date" class="form-control" id="mues_fec_nac" name="mues_fec_nac" value="{{ recepcion.mues_fec_nac }}" min="1904-01-01">
                <div class="invalid-feedback">Por favor ingresa una fecha de nacimiento válida.</div>
                <div id="fecha_alert" class="alert alert-danger d-none" role="alert">
                    La fecha de nacimiento es incorrecta.
                </div>
            </div>
            <div class="form-group">
                <label for="mues_edad">Edad:</label>
                <input type="number" class="form-control" id="mues_edad" name="mues_edad" min="0" max="118" readonly value="{{ recepcion.mues_edad }}">
                <input type="hidden" id="edad_mues_hidden" name="edad_mues_hidden" value="{{ recepcion.mues_edad }}">
                <div class="invalid-feedback">Por favor ingresa una edad válida (solo números).</div>
                <div id="edad_alert" class="alert alert-danger d-none" role="alert">
                    Ingresa datos válidos
                </div>
            </div>
            
              <div class="form-group">
                <label for="mues_tel">Teléfono:</label>
                <input type="tel" class="form-control" id="mues_tel" name="mues_tel" required pattern="[0-9]{10}" maxlength="10" value="{{ recepcion.mues_tel }}" autocomplete="off" required>
                <div class="invalid-feedback">Por favor ingresa un número de teléfono válido.</div>
              </div>
              
              <div class="form-group">
                <label for="mues_email">Email:</label>
                <input type="email" class="form-control" id="mues_email" name="mues_email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" value="{{ recepcion.mues_email }}" required>
                <div class="invalid-feedback">Por favor ingresa un correo electrónico válido.</div>
              </div>

              <h2>Datos del domicilio</h2>
              <div class="form-group">
                <label for="mues_calle">Calle:</label>
                <input type="text" class="form-control" id="mues_calle" name="mues_calle" value="{{ recepcion.mues_calle }}" required>
              </div>
              <div class="form-group">
                <label for="mues_colonia">Colonia:</label>
                <input type="text" class="form-control" id="mues_colonia" name="mues_colonia" value="{{ recepcion.mues_colonia }}" required>
              </div>
              <div class="form-group">
                <label for="mues_num_ext">Número exterior:</label>
                <input type="text" class="form-control" id="mues_num_ext" name="mues_num_ext" value="{{ recepcion.mues_num_ext }}" required>
              </div>
              <div class="form-group">
                <label for="mues_num_int">Número interior:</label>
                <input type="text" class="form-control" id="mues_num_int" name="mues_num_int" value="{{ recepcion.mues_num_int }}">
              </div>

              <h2>Datos clínicos</h2>
              <div class="form-group">
                <label for="mues_horas_ayuno">Horas de ayuno:</label>
                <input type="number" class="form-control" id="mues_horas_ayuno" name="mues_horas_ayuno" min="0" max="50" value="{{ recepcion.mues_horas_ayuno }}" required>
              </div>
              <div class="form-group">
                <label for="mues_alimentos">Alimentos consumidos durante la última comida:</label>
                <input type="text" class="form-control" id="mues_alimentos" name="mues_alimentos" value="{{ recepcion.mues_alimentos }}" required>
              </div>
           
              <div class="form-group">
                <label for="mues_enfermedades">Enfermedades:</label>
                <input type="text" class="form-control" id="mues_enfermedades" name="mues_enfermedades" value="{{ recepcion.mues_enfermedades }}" required>
              </div>
              <div class="form-group">
                <label for="mues_medicamentos">Medicamentos:</label>
                <input type="text" class="form-control" id="mues_medicamentos" name="mues_medicamentos" value="{{ recepcion.mues_medicamentos }}" required>
              </div>
              <!-- <div class="form-group">
                <label for="mues_rubrica">Rúbrica:</label>
                <input type="text" class="form-control" id="mues_rubrica" name="mues_rubrica" value="{{ recepcion.mues_rubrica }}" required>
              </div> -->

              <div class="row">
                <div class="col text-right">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
<script>
$(document).ready(function() {
    $('#mues_fec_nac').blur(function() {
        var fechaNacimiento = new Date($(this).val());
        var hoy = new Date();
        var edad = hoy.getFullYear() - fechaNacimiento.getFullYear();
        var mes = hoy.getMonth() - fechaNacimiento.getMonth();
        if (mes < 0 || (mes === 0 && hoy.getDate() < fechaNacimiento.getDate())) {
            edad--;
        }
        $('#mues_edad').val(edad);
        $('#edad_mues_hidden').val(edad);
        if (edad < 0 || edad > 118) {
            $('#edad_alert').removeClass('d-none');
        } else {
            $('#edad_alert').addClass('d-none');
        }
    });
});

</script>
{% endblock javascripts %}

