{% extends 'layouts/base.html' %}

{% block title %} Editar Muestra {% endblock title %}

{% block content %}
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h1 class="text-white">Modificar Muestra</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="card">
          <!-- Card body -->
          <div class="card-body">
            <form id="registroMuestraForm" action="{{ url_for('recepcion.editar_muestra', mues_id=recepcion.mues_id) }}" method="POST">
              
              <h2>Datos del paciente</h2>
              <div class="form-group">
                <label for="mues_folio">Folio:</label>
                <input disabled type="text" class="form-control" id="mues_folio" name="mues_folio" value="{{ recepcion.mues_folio }}">
              </div>
              <div class="form-group">
                <label for="mues_nombre">Nombre:</label>
                <input type="text" class="form-control" id="mues_nombre" name="mues_nombre" value="{{ recepcion.mues_nombre }}">
              </div>
              <div class="form-group">
                <label for="mues_apellido_paterno">Apellido paterno:</label>
                <input type="text" class="form-control" id="mues_apellido_paterno" name="mues_apellido_paterno" value="{{ recepcion.mues_apellido_paterno }}">
              </div>
              <div class="form-group">
                <label for="mues_apellido_materno">Apellido materno:</label>
                <input type="text" class="form-control" id="mues_apellido_materno" name="mues_apellido_materno" value="{{ recepcion.mues_apellido_materno }}">
              </div>
              <div class="form-group">
                <label for="mues_tel">Teléfono:</label>
                <input type="tel" class="form-control" id="mues_tel" name="mues_tel" value="{{ recepcion.mues_tel }}" autocomplete="off">
                <div class="invalid-feedback">Por favor ingresa un número de teléfono válido.</div>
              </div>
              
              <div class="form-group">
                <label for="mues_email">Email:</label>
                <input type="email" class="form-control" id="mues_email" name="mues_email" value="{{ recepcion.mues_email }}">
                <div class="invalid-feedback">Por favor ingresa un correo electrónico válido.</div>
              </div>

              <h2>Datos del domicilio</h2>
              <div class="form-group">
                <label for="mues_calle">Calle:</label>
                <input type="text" class="form-control" id="mues_calle" name="mues_calle" value="{{ recepcion.mues_calle }}">
              </div>
              <div class="form-group">
                <label for="mues_colonia">Colonia:</label>
                <input type="text" class="form-control" id="mues_colonia" name="mues_colonia" value="{{ recepcion.mues_colonia }}">
              </div>
              <div class="form-group">
                <label for="mues_num_ext">Número exterior:</label>
                <input type="text" class="form-control" id="mues_num_ext" name="mues_num_ext" value="{{ recepcion.mues_num_ext }}">
              </div>
              <div class="form-group">
                <label for="mues_num_int">Número interior:</label>
                <input type="text" class="form-control" id="mues_num_int" name="mues_num_int" value="{{ recepcion.mues_num_int }}">
              </div>

              <h2>Datos clínicos</h2>
              <div class="form-group">
                <label for="mues_horas_ayuno">Horas de ayuno:</label>
                <input type="number" class="form-control" id="mues_horas_ayuno" name="mues_horas_ayuno" value="{{ recepcion.mues_horas_ayuno }}">
              </div>
              <div class="form-group">
                <label for="mues_alimentos">Alimentos consumidos durante la última comida:</label>
                <input type="text" class="form-control" id="mues_alimentos" name="mues_alimentos" value="{{ recepcion.mues_alimentos }}">
              </div>
              <div class="form-group">
                <label for="mues_enfermedades">Enfermedades:</label>
                <input type="text" class="form-control" id="mues_enfermedades" name="mues_enfermedades" value="{{ recepcion.mues_enfermedades }}">
              </div>
              <div class="form-group">
                <label for="mues_medicamentos">Medicamentos:</label>
                <input type="text" class="form-control" id="mues_medicamentos" name="mues_medicamentos" value="{{ recepcion.mues_medicamentos }}">
              </div>
              <div class="form-group">
                <label for="mues_rubrica">Rúbrica:</label>
                <input type="text" class="form-control" id="mues_rubrica" name="mues_rubrica" value="{{ recepcion.mues_rubrica }}">
              </div>

              <div class="row">
                <div class="col text-right">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %} 
<script>
$(document).ready(function() {
  // Validación personalizada para el campo de teléfono
  $('#registroMuestraForm').submit(function(event) {
    var telefono = $('#mues_tel').val();
    if (telefono.length !== 10 || isNaN(telefono)) {
      event.preventDefault(); // Evita que el formulario se envíe si la validación falla
      $('#mues_tel').addClass('is-invalid'); // Marca el campo como inválido
    }
  });
});
</script>
{% endblock javascripts %}
