{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          {% if g.area_nombre == 'Recepción' %}
            <div class="col-lg-12 text-right"> <!-- Botón de nueva muestra -->
              <a href="{{url_for('recepcion.registrarMuestra')}}" class="btn btn-sm btn-neutral">Nueva Muestra</a>
            </div>
          {% else %}
            <div class="col-lg-6 col-6"> <!-- Botones de agregar usuario -->
              <a href="{{url_for('auth.register')}}" class="btn btn-sm btn-neutral mr-2">Agregar Usuario</a>
              <a href="{{url_for('areas.index')}}" class="btn btn-sm btn-neutral">Áreas</a>
              <a href="{{url_for('analisis.index')}}" class="btn btn-sm btn-neutral">Análisis</a>
            </div>
            <div class="col-lg-6 col-6 text-right"> <!-- Botón de nueva muestra -->
              <a href="{{url_for('recepcion.registrarMuestra')}}" class="btn btn-sm btn-neutral">Nueva Muestra</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Muestras Recibidas Recepción</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light text-center">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Recepción</th>
                  <th scope="col" class="sort" data-sort="budget">Folio</th>
                  <th scope="col" class="sort" data-sort="status">Nombre</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody class="list">
                {%for muestra in muestras%}
                  <tr scope="row">                  
                    <td scope="col" class="text-center">
                        <span class="name mb-0 text-sm">{{ muestra.mues_alta_fec }}</span>
                    </td>
                    <td scope="col" class="text-center">
                        <span class="name mb-0 text-sm">{{ muestra.mues_folio }}</span>
                    </td>
                    <td scope="col" class="text-center">                   
                        <span class="name mb-0 text-sm">{{ muestra.mues_nombre }} {{ muestra.muestra_apellido_paterno }} {{ muestra.mues_apellido_materno }}</span>
                    </td>
                    <td class="text-center">
                      {% if muestra.mues_sta == 'O' %}
                          <span class="name mb-0 text-sm">Open</span>
                      {% elif muestra.mues_sta == 'P' %}
                          <span class="name mb-0 text-sm">Process</span>
                      {% else %}
                          <span class="name mb-0 text-sm">Finish</span>
                      {% endif %}
                  </td>
                    <td class="text-center">
                        <div class="btn-group" role="group" aria-label="Acciones">
                          <a href="{{ url_for('recepcion.detalle_muestra', mues_id=muestra.mues_id) }}" class="btn btn-sm btn-info mr-2">Detalles</a>
                          <a href="{{ url_for('recepcion.editar_muestra', mues_id=muestra.mues_id) }}" class="btn btn-sm btn-primary mr-2">Modificar</a>
                          <a href="{{ url_for('recepcion.eliminar_muestra', mues_id=muestra.mues_id) }}" class="btn btn-sm btn-danger delete-btn" data-confirm="¿Estás seguro que deseas eliminar esta muestra?">Eliminar</a>
                        </div>
                    </td>
                </tr>
                {%endfor%}                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>


<!-- Modal de confirmación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="delete-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a id="confirm-delete" href="#" class="btn btn-primary">Sí</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
document.querySelectorAll('.delete-btn').forEach(btn => {
  btn.addEventListener('click', function(e) {
    e.preventDefault();
    const confirmMessage = this.getAttribute('data-confirm');
    document.getElementById('delete-message').textContent = confirmMessage;
    const confirmDeleteModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
    const confirmDeleteBtn = document.getElementById('confirm-delete');
    confirmDeleteBtn.href = this.href;
    confirmDeleteModal.show();
  });
});
</script>
{% endblock javascripts %}
