{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-6">
            <!-- Botón alineado a la izquierda -->
            <a href="{{url_for('auth.register')}}" class="btn btn-sm btn-neutral">Agregar Usuario</a>
          </div>
          <div class="col-lg-6 col-6 text-right">
            <!-- Botón alineado a la derecha -->
            <a href="{{url_for('recepcion.registrarMuestra')}}" class="btn btn-sm btn-neutral">Nueva Muestra</a>
          </div>
        </div>
      </div>
    </div>
  </div>



  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Muestras Recibidas Recepción</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light text-center">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Recepción</th>
                  <th scope="col" class="sort" data-sort="budget">Folio</th>
                  <th scope="col" class="sort" data-sort="status">Nombre</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody class="list">
                {%for muestra in muestras%}
                  <tr scope="row">                  
                    <td scope="col" class="text-center">
                        <span class="name mb-0 text-sm">{{ muestra.mues_alta_fec }}</span>
                    </td>
                    <td scope="col" class="text-center">
                        <span class="name mb-0 text-sm">{{ muestra.mues_folio }}</span>
                    </td>
                    <td scope="col" class="text-center">                   
                        <span class="name mb-0 text-sm">{{ muestra.mues_nombre }} {{ muestra.muestra_apellido_paterno }} {{ muestra.mues_apellido_materno }}</span>
                    </td>
                    <td class="text-center">
                        {% if muestra.mues_sta == 'A' %}
                            <span class="name mb-0 text-sm">Activa</span>
                        {% else %}
                            <span class="name mb-0 text-sm">Terminada</span>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <div class="btn-group" role="group" aria-label="Acciones">
                          <a href="{{ url_for('recepcion.detalle_muestra', mues_id=muestra.mues_id) }}" class="btn btn-sm btn-info mr-2">Detalles</a>
                          <a href="{{ url_for('recepcion.editar_muestra', mues_id=muestra.mues_id) }}" class="btn btn-sm btn-primary mr-2">Modificar</a>
                          <a href="{{ url_for('recepcion.eliminar_muestra', mues_id=muestra.mues_id) }}" class="btn btn-sm btn-danger">Eliminar</a>
                        </div>
                    </td>
                </tr>
                {%endfor%}                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
