{% extends 'layouts/base.html' %} {% block title %} Materiales {% endblock title
%} {% block content %}
<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h1 class="text-white">Materiales</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="btn-group d-flex justify-content-center" role="group">
            <button type="button" class="btn btn-white active" data-material="A" onclick="showMaterial('A')">Caja de guantes</button>
            <button type="button" class="btn btn-white" data-material="B" onclick="showMaterial('B')">Jeringas</button>
            <button type="button" class="btn btn-white" data-material="C" onclick="showMaterial('C')">Tubos de recolección</button>
          </div>

          <div id="materialA" style="display: block">
<!--             <h1><br />Caja de guantes</h1> -->
            <table class="table">
              {% for fila in materiales['A'][current_page-1] %}
              <tr>
                {% for valor in fila %}
                <td>{{ valor }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>

          <div id="materialB" style="display: none">
          <!--   <h1><br />Jeringas</h1> -->
            <table class="table">
              {% for fila in materiales['B'][current_page-1] %}
              <tr>
                {% for valor in fila %}
                <td>{{ valor }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>

          <div id="materialC" style="display: none">
            <!-- <h1><br />Tubos de recolección</h1> -->
            <table class="table">
              {% for fila in materiales['C'][current_page-1] %}
              <tr>
                {% for valor in fila %}
                <td>{{ valor }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>

          <!-- Pagination -->
          <div class="card-footer">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                
                {% for num in range(1, total_pages + 1) %}
                  <li class="page-item {% if num == current_page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for(request.endpoint, pagina=num) }}">{{ num }}</a>
                  </li>
                {% endfor %}
                
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .btn-white {
    background-color: #fff;
    color: #000;
    margin-right: 10px;
    border-radius: 0;
  }

  .btn-white.active {
    opacity: 0.7;
  }
</style>

<script>
  function showMaterial(material) {
    document.querySelectorAll(".btn-white").forEach((button) => {
      button.classList.remove("active"); // Remover la clase activa de todos los botones
    });

    document
      .querySelector(`button[data-material="${material}"]`)
      .classList.add("active"); // Agregar la clase activa al botón seleccionado

    document.getElementById("materialA").style.display = "none";
    document.getElementById("materialB").style.display = "none";
    document.getElementById("materialC").style.display = "none";

    document.getElementById("material" + material).style.display = "block";
  }
</script>
{% endblock content %}
